<ol class="breadcrumb">
	<li>
		<i class="clip-home-2"></i>
		&nbsp;
		<%= link_to "Home", authenticated_root_path %>
	</li>
	<li class="active">
		Dashboard
	</li>
	<li class="search-box">
		<form class="sidebar-search">
			<div class="form-group">
				<input type="text" placeholder="Cari (Kata Kunci?)">
				<button class="submit">
					<i class="clip-search-3"></i>
				</button>
			</div>
		</form>
	</li>
</ol>