<!-- CONTENTS 1-->
					<div class="row">
						<div class="col-sm-4">
							<div class="core-box">
								<div class="heading">
									<i class="clip-book circle-icon circle-green"></i>
									<h2>Aplikasi Online</h2>
								</div>
								<div class="content">
									Gunakan E-KBRI untuk mengelola dan melakukan pelayanan dokumen-dokumen seperti 
									visa, paspor, SPLP, dan surat-surat keterangan secara real-time, terpadu, dan efektif. 
									Kini, pelayanan aplikasi kekonsuleran, keimigrasian, dan ketenagakerjaan akan dialihkan 
									ke pengguna/aplikan sehingga staf KBRI akan fokus kepada pemrosesan data.
								</div>
								<a class="view-more" href="#">
									Lebih Lanjut <i class="clip-arrow-right-2"></i>
								</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="core-box">
								<div class="heading">
									<i class="clip-user circle-icon circle-teal"></i>
									<h2>Data WNI se-Korea</h2>
								</div>
								<div class="content">
									Gunakan E-KBRI untuk mengetahui dan mengelola data-data mengenai WNI se-Korea yg terintegrasi 
									dengan sistem pelayanan KBRI. Setiap aplikasi masuk yang dibuat oleh WNI akan otomatis 
									mendeteksi/mencatat data WNI di Korea. Data ini tersedia dengan format rapi dan terstruktur 
									dimana data akan ditampilkan secara intuitif via E-KBRI.
								</div>
								<a class="view-more" href="index.html#">
									Lebih Lanjut <i class="clip-arrow-right-2"></i>
								</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="core-box">
								<div class="heading">
									<i class="clip-database circle-icon circle-bricky"></i>
									<h2>Manajemen Data</h2>
								</div>
								<div class="content">
									Gunakan E-KBRI agar dengan mudahnya staff KBRI Seoul melakukan pengelolaan data-data WNI
									 se-Korea sehingga dapat meminimalisir waktu yg terbuang melalui proses manual. E-KBRI 
									 memudahkan WNI untuk mengupdate datanya sendiri dan juga membantu staff KBRI untuk 
									 mengelolanya sewaktu-waktu. Tersedia juga fitur pembuatan laporan bagi staf KBRI.
								</div>
								<a class="view-more" href="index.html#">
									Lebih Lanjut <i class="clip-arrow-right-2"></i>
								</a>
							</div>
						</div>
					</div>
<!-- END CONTENT 1-->
<!-- CONTENT 2-->

<!-- END CONTENT 2-->