<div class="footer clearfix">
		<div class="footer-inner">

			2013-2014 &copy; E-KBRI.

		</div>
		<div class="footer-items">
			<span class="go-top"><i class="clip-chevron-up"></i></span>
		</div>
</div>