<div class="footer clearfix">
		<div class="footer-inner">

			E-KBRI 2013-2014 &copy; The Embassy of Republic of Indonesia in Seoul. 
			Security is <script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name=www.id-embassy.kr&amp;size=M&amp;lang=en"></script>

		</div>
		<div class="footer-items">
			<span class="go-top"><i class="clip-chevron-up"></i></span>
		</div>
</div>