<li class="dropdown">
	<a class="dropdown-toggle" data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="index.html#">
		<i class="clip-bubble-3"></i><span class="badge"> 4</span>
	</a>
	<ul class="dropdown-menu posts">
		<li>
			<span class="dropdown-menu-title"> Anda memiliki 4 pesan baru</span>
		</li>
		<li>
		<div class="drop-down-wrapper">
			<ul>
											<li>
												<a href="javascript:;">
													<div class="clearfix">
														<div class="thread-image">
															<%= image_tag("/assets/images/dashboard/avatar-2.jpg") %>
														</div>
														<div class="thread-content">
															<span class="author">Damayanti</span>
															<span class="preview">Pak Didik, Dubes mengagendakan rapat Rabu, 18
															 Desember 2013.</span>
															<span class="time"> Just Now</span>
														</div>
													</div>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<div class="clearfix">
														<div class="thread-image">
															<%= image_tag("/assets/images/dashboard/avatar-4.jpg") %>
														</div>
														<div class="thread-content">
															<span class="author">Da Hyeon</span>
															<span class="preview">Pak, 
															fungsi konsuler dan politik diagendakan bertemu imigrasi korea minggu 
															depan, 19 Desember 2013 di COEX.
															</span>
															<span class="time">2 mins</span>
														</div>
													</div>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<div class="clearfix">
														<div class="thread-image">
															<%= image_tag("/assets/images/dashboard/avatar-3.jpg") %>
														</div>
														<div class="thread-content">
															<span class="author">Deni Sugandi</span>
															<span class="preview">Jadwal protokoler kedatangan BPK kapan ya Pak?
															</span>
															<span class="time">8 hrs</span>
														</div>
													</div>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<div class="clearfix">
														<div class="thread-image">
															<%= image_tag("/assets/images/dashboard/avatar-5.jpg") %>
														</div>
														<div class="thread-content">
															<span class="author">John A. Prasetio</span>
															<span class="preview">Pak Didik, rapat tanggal 20 Desember 2013 dengan
															 Kemenlu Korea. Tolong dampingi saya.
															 </span>
															<span class="time">14 hrs</span>
														</div>
													</div>
												</a>
											</li>
			</ul>
		</div>
		</li>
		<li class="view-all">
			<a href="pages_messages.html">
				Lihat semua pesan. <i class="fa fa-arrow-circle-right"></i>
			</a>
		</li>
	</ul>
</li>