<div class="row">
	<div class="col-sm-12">
		<!-- start: PAGE TITLE & BREADCRUMB -->
		<%= render "dashboard/breadcrumb" %>
		<div class="page-header">
				<h1>Dashboard <small>Overview &amp; Stats </small></h1>
		</div>
		<!-- end: PAGE TITLE & BREADCRUMB -->
	</div>
</div>