<ul class="main-navigation-menu">
						<li class="active open">
							<a href="#"><i class="clip-home-3"></i>
								<span class="title"> Dashboard E-KBRI</span><span class="selected"></span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<i class="clip-data"></i>
								<span class="title"> Pelayanan E-KBRI </span><i class="icon-arrow"></i>
								<span class="arrow "></span>
							</a>
							<ul class="sub-menu">
								<li>
									<a href="javascript:;">
										Konsuler <i class="icon-arrow"></i>
									</a>
									<ul class="sub-menu">
										<li>
											<a href="javascript:;">
												Surat-Surat <i class="icon-arrow"></i>
											</a>
											<ul class="sub-menu">
												<li>
													<a href="#">
														Keterangan Lahir</a>
												</li>
												<li>
													<a href="#">
														Keterangan Nikah</a>
												</li>
												<li>
													<a href="#">
														Keterangan Talak</a>
												</li>
												<li>
													<a href="#">
														Keterangan Cerai</a>
												</li>
												<li>
													<a href="#">
														Keterangan Rujuk</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">
												Lain-Lain
											</a>
										</li>
										<li>
											<a href="#">
												Legalisasi Dokumen
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="javascript:;">
										Imigrasi <i class="icon-arrow"></i>
									</a>
									<ul class="sub-menu">
										<li>
											<a href="#">
												Dokumen Perjalanan
											</a>
											<ul class="sub-menu">
												<li>
													<a href="#"><i class="fa fa-times"></i>
														Paspor</a>
												</li>
												<li>
													<a href="#"><i class="fa fa-pencil"></i>
														SPLP</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">
												Aplikasi Visa
											</a>
										</li>
										<li>
											<a href="#">
												Lapor Diri
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">
										Pendataan WNI
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)"><i class="clip-pencil"></i>
								<span class="title"> Formulir Aplikasi </span><i class="icon-arrow"></i>
								<span class="selected"></span>
							</a>
							<ul class="sub-menu">
								<li>
									<a href="#">
										<span class="title">Aplikasi Visa</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="title">Aplikasi Paspor/SPLP</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="title">Aplikasi Surat</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)"><i class="clip-file"></i>
								<span class="title">Dokumen</span><i class="icon-arrow"></i>
								<span class="selected"></span>
							</a>
							<ul class="sub-menu">
								<li>
									<a href="pages_user_profile.html">
										<span class="title">Profil WNI Korea</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)"><i class="clip-attachment-2"></i>
								<span class="title">File</span><i class="icon-arrow"></i>
								<span class="selected"></span>
							</a>
							<ul class="sub-menu">
								<li>
									<a href="#">
										<span class="title">Visa (Pending)</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="title">Visa (Approved)</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="title">Visa (Reject)</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)"><i class="clip-user-3"></i>
								<span class="title">Ketenagakerjaan</span><i class="icon-arrow"></i>
								<span class="selected"></span>
							</a>
							<ul class="sub-menu">
								<li>
									<a href="#">
										<span class="title">BNP2TKI</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="title">HRD Korea</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="charts.html"><i class="clip-bars"></i>
								<span class="title">Statistika E-KBRI</span>
								<span class="selected"></span>
							</a>
						</li>
</ul>