<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<!-- CONTENT 1-->
<div class="row">
	<div class="col-sm-7">
		<div class="row space12">
			<ul class="mini-stats col-sm-12">
				<li class="col-sm-4">
					<div class="sparkline_bar_good">
						<span>3,5,9,8,13,11,14</span>+10%
					</div>
					<div class="values">
						<strong><%= @allvisa %></strong>
						Aplikasi Visa
					</div>
				</li>
				<li class="col-sm-4">
					<div class="sparkline_bar_neutral">
						<span>20,15,18,14,10,12,15,20</span>0%
					</div>
						<div class="values">
						<strong><%= @allpassport %></strong>
							Aplikasi Paspor/SPLP
						</div>
				</li>
				<li class="col-sm-4">
					<div class="sparkline_bar_bad">
						<span>4,6,10,8,12,21,11</span>+50%
					</div>
					<div class="values">
						<strong><%= @allreport %></strong>
											Lapor Diri
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-5">
							<div class="row space12">
								<div class="col-sm-6">
									<div class="easy-pie-chart">
										<span class="bounce number" data-percent="44"> <span class="percent">44</span> </span>
										<div class="label-chart">
											Paspor/SPLP Pending
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="easy-pie-chart">
										<span class="cpu number" data-percent="82"> <span class="percent">82</span> </span>
										<div class="label-chart">
											Visa Diproses
										</div>
									</div>
								</div>
							</div>
						</div>
</div>
<!-- END CONTENT 1-->
<!-- CONTENTS 2-->
<div class="row">
						<div class="col-sm-4">
							<div class="core-box">
								<div class="heading">
									<i class="clip-book circle-icon circle-bricky"></i>
									<h2>Aplikasi Online</h2>
								</div>
								<div class="content">
									Gunakan E-KBRI untuk mengelola dan melakukan pelayanan dokumen-dokumen seperti 
									visa, paspor, SPLP, dan surat-surat keterangan secara real-time, terpadu, dan efektif. 
									Kini, pelayanan aplikasi kekonsuleran, keimigrasian, dan ketenagakerjaan akan dialihkan 
									ke pengguna/aplikan sehingga staf KBRI akan fokus kepada pemrosesan data.
								</div>
								<a class="view-more" href="#">
									Lebih Lanjut <i class="clip-arrow-right-2"></i>
								</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="core-box">
								<div class="heading">
									<i class="clip-user circle-icon circle-bricky"></i>
									<h2>Data WNI se-Korea</h2>
								</div>
								<div class="content">
									Gunakan E-KBRI untuk mengetahui dan mengelola data-data mengenai WNI se-Korea yg terintegrasi 
									dengan sistem pelayanan KBRI. Setiap aplikasi masuk yang dibuat oleh WNI akan otomatis 
									mendeteksi/mencatat data WNI di Korea. Data ini tersedia dengan format rapi dan terstruktur 
									dimana data akan ditampilkan secara intuitif via E-KBRI.
								</div>
								<a class="view-more" href="#">
									Lebih Lanjut <i class="clip-arrow-right-2"></i>
								</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="core-box">
								<div class="heading">
									<i class="clip-database circle-icon circle-bricky"></i>
									<h2>Manajemen Data</h2>
								</div>
								<div class="content">
									Gunakan E-KBRI agar dengan mudahnya staff KBRI Seoul melakukan pengelolaan data-data WNI
									 se-Korea sehingga dapat meminimalisir waktu yg terbuang melalui proses manual. E-KBRI 
									 memudahkan WNI untuk mengupdate datanya sendiri dan juga membantu staff KBRI untuk 
									 mengelolanya sewaktu-waktu. Tersedia juga fitur pembuatan laporan bagi staf KBRI.
								</div>
								<a class="view-more" href="#">
									Lebih Lanjut <i class="clip-arrow-right-2"></i>
								</a>
							</div>
						</div>
</div>
<!-- END CONTENT 2-->

<!-- CONTENT 3-->
<div class="row" style="">
						<div class="col-sm-7">
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="clip-stats"></i>
									Aplikasi Visa & Paspor/SPLP
									<div class="panel-tools">
										<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
										</a>
										<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
											<i class="fa fa-wrench"></i>
										</a>
										<a class="btn btn-xs btn-link panel-refresh" href="#">
											<i class="fa fa-refresh"></i>
										</a>
										<a class="btn btn-xs btn-link panel-close" href="#">
											<i class="fa fa-times"></i>
										</a>
									</div>
								</div>
								<div class="panel-body">
									<div class="flot-medium-container">
										<div id="placeholder-h1" class="flot-placeholder"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-5">
							<div class="row">
								<div class="col-sm-12">
									<div class="panel panel-default">
										<div class="panel-heading">
											<i class="clip-pie"></i>
											Distribusi Layanan KBRI
											<div class="panel-tools">
												<a class="btn btn-xs btn-link panel-collapse collapses" href="index.html#">
												</a>
												<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
													<i class="fa fa-wrench"></i>
												</a>
												<a class="btn btn-xs btn-link panel-refresh" href="index.html#">
													<i class="fa fa-refresh"></i>
												</a>
												<a class="btn btn-xs btn-link panel-close" href="index.html#">
													<i class="fa fa-times"></i>
												</a>
											</div>
										</div>
										<div class="panel-body">
											<div class="flot-mini-container">
												<div id="placeholder-h2" class="flot-placeholder"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="panel panel-default">
										<div class="panel-heading">
											<i class="clip-bars"></i>
											Pengakses E-KBRI real-time (per detik)
											<div class="panel-tools">
												<a class="btn btn-xs btn-link panel-collapse collapses" href="index.html#">
												</a>
												<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
													<i class="fa fa-wrench"></i>
												</a>
												<a class="btn btn-xs btn-link panel-refresh" href="#">
													<i class="fa fa-refresh"></i>
												</a>
												<a class="btn btn-xs btn-link panel-close" href="#">
													<i class="fa fa-times"></i>
												</a>
											</div>
										</div>
										<div class="panel-body">
											<div class="flot-mini-container">
												<div id="placeholder-h3" class="flot-placeholder"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
</div>
<!-- END CONTENT 3-->				
<script type="text/javascript" >
$( document ).ready(function() {
	function randValue() {
        return (Math.floor(Math.random() * (1 + 40 - 20))) + 20;
    };
    var pageviews = [
        [1, randValue()],
        [2, randValue()],
        [3, 2 + randValue()],
        [4, 3 + randValue()],
        [5, 5 + randValue()],
        [6, 10 + randValue()],
        [7, 15 + randValue()],
        [8, 20 + randValue()],
        [9, 25 + randValue()],
        [10, 30 + randValue()],
        [11, 35 + randValue()],
        [12, 25 + randValue()],
        [13, 15 + randValue()],
        [14, 20 + randValue()],
        [15, 45 + randValue()],
        [16, 50 + randValue()],
        [17, 65 + randValue()],
        [18, 70 + randValue()],
        [19, 85 + randValue()],
        [20, 80 + randValue()],
        [21, 75 + randValue()],
        [22, 80 + randValue()],
        [23, 75 + randValue()],
        [24, 70 + randValue()],
        [25, 65 + randValue()],
        [26, 75 + randValue()],
        [27, 80 + randValue()],
        [28, 85 + randValue()],
        [29, 90 + randValue()],
        [30, 95 + randValue()]
    ];
    var visitors = [
        [1, randValue() - 5],
        [2, randValue() - 5],
        [3, randValue() - 5],
        [4, 6 + randValue()],
        [5, 5 + randValue()],
        [6, 20 + randValue()],
        [7, 25 + randValue()],
        [8, 36 + randValue()],
        [9, 26 + randValue()],
        [10, 38 + randValue()],
        [11, 39 + randValue()],
        [12, 50 + randValue()],
        [13, 51 + randValue()],
        [14, 12 + randValue()],
        [15, 13 + randValue()],
        [16, 14 + randValue()],
        [17, 15 + randValue()],
        [18, 15 + randValue()],
        [19, 16 + randValue()],
        [20, 17 + randValue()],
        [21, 18 + randValue()],
        [22, 19 + randValue()],
        [23, 20 + randValue()],
        [24, 21 + randValue()],
        [25, 14 + randValue()],
        [26, 24 + randValue()],
        [27, 25 + randValue()],
        [28, 26 + randValue()],
        [29, 27 + randValue()],
        [30, 31 + randValue()]
    ];
    $.plot($("#placeholder-h1"), [{
        data: pageviews,
        label: "Aplikasi Visa"
    }, {
        data: visitors,
        label: "Aplikasi Paspor"
    }], {
        series: {
            lines: {
                show: true,
                lineWidth: 2,
                fill: true,
                fillColor: {
                    colors: [{
                        opacity: 0.05
                    }, {
                        opacity: 0.01
                    }]
                }
            },
            points: {
                show: false
            },
            shadowSize: 2
        },
        grid: {
            hoverable: true,
            clickable: true,
            tickColor: "#eee",
            borderWidth: 0
        },
        colors: ["#d12610", "#37b7f3", "#52e136"],
        xaxis: {
            ticks: 11,
            tickDecimals: 0
        },
        yaxis: {
            ticks: 11,
            tickDecimals: 0
        }
    });
});
</script>
