<div style="text-align: center; padding-top: 20px; position: relative;">
	<%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
	<h1>Welcome to Electronic KBRI Seoul Services (E-KBRI)</h1>
<hr />
	<div class="row">
		<img src="/images/passport-flow.gif" />
		<p>Paspor anda memiliki nomor baru, silakan segera laporkan ke Imigrasi terdekat perubahan No. Paspor anda dalam waktu 14 hari setelah diterbitkan.
		   Gagal melaporkan No. Paspor baru dalam waktu 14 hari dapat didenda sesuai peraturan Imigrasi Korea Selatan.</p>
	</div>
</div>