<div class="body" style="padding-top: 20px;">
	<div style="text-align: center;">
		<%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
	</div>

	

<body>
	<h1>Persyaratan Pembuatan Paspor</h1>
	<h3>Harap perhatikan persyaratan dokumen untuk masing - masing jenis permohonan paspor. Syarat - syarat dokumen tersebut HARUS di scan/foto dan kemudian diunggah kedalam form aplikasi <i>online</i> </h3>
	<h3>Permohonan Paspor anda <b>tidak akan diproses</b> tanpa syarat - syarat dokumen yang lengkap dan valid</h3>
	<h4><a href="<%= passports_path %>">Klik disini untuk Form Permohonan <i>Online</i></a></h4>
<table border="1" cellpadding="2" cellspacing="1" width="1200" style="font-size:9pt;">
	<thead style="font-weight:bold;text-align:center;background:#CCCCCC;">
		<tr>
			<td colspan="2" rowspan="2">Jenis</td>
			<td rowspan="2">Biaya</td>
			<td colspan="5">Pemegang Paspor</td>
		</tr>
		<tr>
			<td>TKI dan ABK</td>
			<td>Professional</td>
			<td>Ikut Istri/Suami</td>
			<td>Ikut Orang Tua</td>
			<td>Pelajar</td>
		</tr>
	</thead>
	<tr>
		<td rowspan="3" width="100" align="center" style="background:#eeeeee;font-weight:bold;">Paspor 24 Halaman</td>
		<td >Perpanjang Paspor 24 Halaman</td>
		<td style="background:#FFFF99;text-align:center;font-style:italic;">$6.00</td>
		<td>
			<ul>
				<li>Paspor Lama</li>
				<li>ARC (Alien Registration Card)</li>
				<li>Pas Foto</li>
				<li>Surat Keterangan Kerja dari Perusahaan</li>
				<li>SLC (Standard Labour Contract)</li>
			</ul>
		</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>		
		<td>Paspor Rusak</td>
		<td style="background:#FFFF99;text-align:center;font-style:italic;">$11.00</td>
		<td>
			<ul>
				<li>Paspor yang Rusak</li>
				<li>ARC (Alien Registration Card)</li>
				<li>Pas Foto</li>
				<li>Surat Keterangan Kerja dari Perusahaan</li>
				<li>SLC (Standard Labour Contract)</li>
			</ul>
		</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>		
		<td>Paspor Rusak</td>
		<td style="background:#FFFF99;text-align:center;font-style:italic;">$11.00</td>
		<td>
			<ul>
				<li>Surat Keterangan dari Kepolisian</li>
				<li>ARC (Alien Registration Card)</li>
				<li>Pas Foto</li>
				<li>Surat Keterangan Kerja dari Perusahaan</li>
				<li>SLC (Standard Labour Contract)</li>
			</ul>
		</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>		
		<td rowspan="3" align="center" style="background:#eeeeee;font-weight:bold;">Paspor 48 Halaman</td>
		<td>Perpanjang Paspor 48 Halaman</td>
		<td style="background:#FFFF99;text-align:center;font-style:italic;">$22.00</td>
		<td></td>
		<td>
			<ul>
				<li>Paspor Lama</li>
				<li>ARC (Alien Registration Card)</li>
				<li>Pas Foto</li>
				<li>Surat Keterangan Kerja dari Perusahaan</li>
				<li>SLC (Standard Labour Contract)</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Paspor Lama</li>
				<li>ARC (Alien Registration Card)</li>
				<li>Pas Foto</li>
				<li>Surat Keterangan Menikah (Buku nikah atau Sertifikat pernikahan)</li>
				<li>Family Registration Card (Kartu Keluarga)</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Paspor Lama</li>
				<li>ARC (Alien Registration Card)</li>
				<li>Pas Foto</li>
				<li>Akta Kelahiran</li>
				<li>Surat Keterangan Kerja/Sekolah Orang Tua</li>
				<li>Paspor Orang Tua</li>
				<li>Family Registration Card (Kartu Keluarga)</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Paspor Lama</li>
				<li>ARC (Alien Registration Card)</li>
				<li>Pas Foto</li>
				<li>Surat Keterangan Status Terdaftar dari Universitas di Korea</li>
				<li>Family Registration Card (Kartu Keluarga)</li>
			</ul>
		</td>
		
	</tr>
	
	<tr>		
		
		<td>Paspor Rusak</td>
		<td style="background:#FFFF99;text-align:center;font-style:italic;">$43.00</td>
		<td></td>
		<td>
			<ul>
				<li>Paspor Rusak</li>
				<li>ARC (Alien Registration Card)</li>
				<li>Pas Foto</li>
				<li>Surat Keterangan Kerja dari Perusahaan</li>
				<li>SLC (Standard Labour Contract)</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Paspor Rusak</li>
				<li>ARC (Alien Registration Card)</li>
				<li>Pas Foto</li>
				<li>Surat Keterangan Menikah (Buku nikah atau Sertifikat pernikahan)</li>
				<li>Family Registration Card (Kartu Keluarga)</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Paspor Rusak</li>
				<li>ARC (Alien Registration Card)</li>
				<li>Pas Foto</li>
				<li>Akta Kelahiran</li>
				<li>Surat Keterangan Kerja/Sekolah Orang Tua</li>
				<li>Paspor Orang Tua</li>
				<li>Family Registration Card (Kartu Keluarga)</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Paspor Rusak</li>
				<li>ARC (Alien Registration Card)</li>
				<li>Pas Foto</li>
				<li>Surat Keterangan Status Terdaftar dari Universitas di Korea</li>
				<li>Family Registration Card (Kartu Keluarga)</li>
			</ul>
		</td>
		
	</tr>
	<tr>		
		
		<td>Paspor Hilang</td>
		<td style="background:#FFFF99;text-align:center;font-style:italic;">$43.00</td>
		<td></td>
		<td>
			<ul>
				<li>Surat Keterangan dari Kepolisian</li>
				<li>ARC (Alien Registration Card)</li>
				<li>Pas Foto</li>
				<li>Surat Keterangan Kerja dari Perusahaan</li>
				<li>SLC (Standard Labour Contract)</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Surat Keterangan dari Kepolisian</li>
				<li>ARC (Alien Registration Card)</li>
				<li>Pas Foto</li>
				<li>Surat Keterangan Menikah (Buku nikah atau Sertifikat pernikahan)</li>
				<li>Family Registration Card (Kartu Keluarga)</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Surat Keterangan dari Kepolisian</li>
				<li>ARC (Alien Registration Card)</li>
				<li>Pas Foto</li>
				<li>Akta Kelahiran</li>
				<li>Surat Keterangan Kerja/Sekolah Orang Tua</li>
				<li>Paspor Orang Tua</li>
				<li>Family Registration Card (Kartu Keluarga)</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Surat Keterangan dari Kepolisian</li>
				<li>ARC (Alien Registration Card)</li>
				<li>Pas Foto</li>
				<li>Surat Keterangan Status Terdaftar dari Universitas di Korea</li>
				<li>Family Registration Card (Kartu Keluarga)</li>
			</ul>
		</td>
		
	</tr>
	
</table>
