<div style="text-align: center; padding-top: 20px; position: relative;">
	<%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
	<h1>Welcome to Electronic KBRI Seoul services (E-KBRI)</h1>
<hr />
	<div class="row">
		<img src="/images/passport-flow.gif" />
	</div>
</div>