<div style="text-align: center; padding-top: 20px; position: relative;">
	<%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
	<h1>Welcome to Electronic KBRI Seoul Services (E-KBRI)</h1>
<hr />
	<div class="row">
		<h2>PETUNJUK PEMBAYARAN DALAM BAHASA INDONESIA</h2>
		<p>Please make your payment through KEB Bank (외환은행)'s Indonesian Embassy in Seoul account 650-005012-179 & 
			proceed with Dollar currency payment (Foreign Currency Deposit Slip / 외화예금전표 ). 
			Currency : USD. Please rewrite the Reference Number to the Depositor Name section in the payment slip.</p>
		<img src="/images/ekbri-payment-flow_id.gif" />
	</div>
	<div class="row">
		<h2>FEE PAYMENT GUIDANCE IN ENGLISH</h2>
		<p>Bayarkan melalui Bank KEB (외환은행) a/n Indonesian Embassy in Seoul account 650-005012-179 
			dengan menggunakan slip pembayaran dengan mata uang Dollar (Foreign Currency Deposit Slip / 외화예금전표 ). Currency : USD .
			Harap tulis Reference Number pada bagian Depositor name.</p>
		<img src="/images/ekbri-payment-flow_en.gif" />
	</div>
	<div class="row">
		<h2>SAMPLE OF PAYMENT SLIP KEB (외환은행)</h2>
		<img src="/images/simple-form.gif" />
	</div>
</div>