
<style id="20140402 - requirements_23517_Styles">
<!--table
	{mso-displayed-decimal-separator:"\.";
	mso-displayed-thousand-separator:"\,";}
.xl6523517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6623517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6723517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6823517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6923517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7023517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7123517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl7223517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7323517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7423517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7523517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl7623517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	text-align:general;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7723517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	text-align:general;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7823517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl7923517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#BFBFBF;
	mso-pattern:black none;
	white-space:nowrap;}
.xl8023517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#BFBFBF;
	mso-pattern:black none;
	white-space:nowrap;}
.xl8123517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#BFBFBF;
	mso-pattern:black none;
	white-space:nowrap;}
.xl8223517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#BFBFBF;
	mso-pattern:black none;
	white-space:nowrap;}
.xl8323517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl8423517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl8523517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl8623517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl8723517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl8823517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl8923517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#BFBFBF;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9023517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl9123517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl9223517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl9323517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl9423517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl9523517
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
-->
</style>


<div class="body" style="padding-top: 20px;">
	<div style="text-align: center;">
		<%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
	</div>

	<div id="20140402 - requirements_23517" align=center x:publishsource="Excel">

		<table border="2" cellpadding=0 cellspacing=0 width=731 class=xl6523517
		 style='border-collapse:collapse;table-layout:fixed;width:549pt'>
		 <col class=xl6523517 width=142 style='mso-width-source:userset;mso-width-alt:
		 4039;width:107pt'>
		 <col class=xl6523517 width=187 style='mso-width-source:userset;mso-width-alt:
		 5319;width:140pt'>
		 <col class=xl6523517 width=80 style='width:60pt'>
		 <col class=xl6523517 width=322 style='mso-width-source:userset;mso-width-alt:
		 9159;width:242pt'>
		 <tr height=20 style='height:15.0pt'>
		  <td colspan=4 height=20 class=xl8523517 width=731 style='height:15.0pt;
		  width:549pt'>VISA REQUIREMENTS</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td colspan=2 rowspan=2 height=40 class=xl8923517 style='height:30.0pt'>TYPE
		  OF VISA</td>
		  <td rowspan=2 class=xl8923517>FEE</td>
		  <td rowspan=2 class=xl8923517>REQUIREMENTS</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td rowspan=27 height=622 class=xl7023517 style='height:466.5pt;border-top:
		  none'>VISIT VISA</td>
		  <td rowspan=5 class=xl7023517 style='border-top:none'>Business Visit</td>
		  <td rowspan=5 class=xl9123517 style='border-top:none'><span
		  style='mso-spacerun:yes'> </span>$<span style='mso-spacerun:yes'>   
		  </span>45.00 </td>
		  <td class=xl6623517 style='border-top:none;border-left:none'>Passport</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Photograph</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Travel Order issued by Korean Company</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6823517 style='height:15.0pt;border-top:none;
		  border-left:none'>Identification Card</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6823517 style='height:15.0pt;border-left:none'>Return
		  Ticket</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl7923517 style='height:15.0pt;border-left:none'>&nbsp;</td>
		  <td class=xl8023517>&nbsp;</td>
		  <td class=xl8123517>&nbsp;</td>
		 </tr>
		 <tr height=21 style='height:15.75pt'>
		  <td rowspan=15 height=342 class=xl8323517 style='height:256.5pt'>Social
		  Cultural Visit</td>
		  <td rowspan=15 class=xl8423517><span style='mso-spacerun:yes'> </span>$<span
		  style='mso-spacerun:yes'>    </span>45.00 </td>
		  <td class=xl7423517 style='border-left:none'>For Visiting Family:</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Passport</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Photograph</td>
		 </tr>
		 <tr height=40 style='height:30.0pt'>
		  <td height=40 class=xl7123517 width=322 style='height:30.0pt;border-top:none;
		  border-left:none;width:242pt'>Invitation by member of family in Indonesia
		  seen by Korean Embassy in Jakarta</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Identification Card</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Return Ticket</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Family Registration Card</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>&nbsp;</td>
		 </tr>
		 <tr height=21 style='height:15.75pt'>
		  <td height=21 class=xl7323517 style='height:15.75pt;border-top:none;
		  border-left:none'>For Students/Seminar:</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Passport</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Photograph</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Letter from Korean University</td>
		 </tr>
		 <tr height=40 style='height:30.0pt'>
		  <td height=40 class=xl7123517 width=322 style='height:30.0pt;border-top:none;
		  border-left:none;width:242pt'>Admission letter from Indonesian
		  University/Institution</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Identification Card</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6823517 style='height:15.0pt;border-top:none;
		  border-left:none'>Return Ticket</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl7923517 style='height:15.0pt;border-left:none'>&nbsp;</td>
		  <td class=xl8023517>&nbsp;</td>
		  <td class=xl8123517>&nbsp;</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td rowspan=5 height=140 class=xl8323517 style='height:105.0pt'>Tourist Visit</td>
		  <td rowspan=5 class=xl8423517><span style='mso-spacerun:yes'> </span>$<span
		  style='mso-spacerun:yes'>    </span>45.00 </td>
		  <td class=xl6923517 style='border-left:none'>Passport</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Photograph</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Identification Card</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Return Ticket</td>
		 </tr>
		 <tr height=60 style='height:45.0pt'>
		  <td height=60 class=xl7523517 width=322 style='height:45.0pt;border-top:none;
		  border-left:none;width:242pt'>Guarantee Letter from Travel Agent (If not
		  using travel agent, please provide hotel bookings and bank record for last 3
		  months)</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl7923517 style='height:15.0pt'>&nbsp;</td>
		  <td class=xl8023517>&nbsp;</td>
		  <td class=xl8023517>&nbsp;</td>
		  <td class=xl8123517>&nbsp;</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td rowspan=5 height=100 class=xl7023517 style='height:75.0pt;border-top:
		  none'>LIMITED STAY</td>
		  <td colspan=3 class=xl8623517 style='border-right:.5pt solid black;
		  border-left:none'>Requirements below are applicable for all types of limited
		  stay visa</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6723517 style='height:15.0pt;border-left:none'>30 Days
		  Stay</td>
		  <td class=xl7623517 style='border-left:none'><span
		  style='mso-spacerun:yes'> </span>$<span style='mso-spacerun:yes'>   
		  </span>64.00 </td>
		  <td class=xl6823517>Passport</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6723517 style='height:15.0pt;border-top:none;
		  border-left:none'>6 Months Stay</td>
		  <td class=xl7623517 style='border-top:none;border-left:none'><span
		  style='mso-spacerun:yes'> </span>$<span style='mso-spacerun:yes'>   
		  </span>50.00 </td>
		  <td class=xl7223517>Photograph</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6723517 style='height:15.0pt;border-top:none;
		  border-left:none'>1 Year Stay</td>
		  <td class=xl7623517 style='border-top:none;border-left:none'><span
		  style='mso-spacerun:yes'> </span>$ 100.00 </td>
		  <td class=xl7223517>Identification Card</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl7023517 style='height:15.0pt;border-top:none;
		  border-left:none'>2 Years Stay</td>
		  <td class=xl7723517 style='border-top:none;border-left:none'><span
		  style='mso-spacerun:yes'> </span>$ 175.00 </td>
		  <td class=xl7223517>Indonesian Immigration Approval (Cable)</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl7923517 style='height:15.0pt'>&nbsp;</td>
		  <td class=xl8223517>&nbsp;</td>
		  <td class=xl8023517>&nbsp;</td>
		  <td class=xl8123517>&nbsp;</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td rowspan=4 height=80 class=xl7023517 style='height:60.0pt;border-top:none'>MULTIPLE
		  ENTRY</td>
		  <td rowspan=4 class=xl7023517 style='border-top:none'>Multiple Entry Visa</td>
		  <td rowspan=4 class=xl9123517 style='border-top:none'><span
		  style='mso-spacerun:yes'> </span>$ 100.00 </td>
		  <td class=xl6623517 style='border-top:none;border-left:none'>Passport</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Photograph</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Identification Card</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6823517 style='height:15.0pt;border-top:none;
		  border-left:none'>Indonesian Immigration Approval (Cable)</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl7923517 style='height:15.0pt'>&nbsp;</td>
		  <td class=xl8023517>&nbsp;</td>
		  <td class=xl8023517>&nbsp;</td>
		  <td class=xl8123517>&nbsp;</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td rowspan=6 height=120 class=xl8323517 style='height:90.0pt'>TRANSIT</td>
		  <td rowspan=6 class=xl8323517>Transit Visa</td>
		  <td rowspan=6 class=xl8423517><span style='mso-spacerun:yes'> </span>$<span
		  style='mso-spacerun:yes'>    </span>20.00 </td>
		  <td class=xl6923517 style='border-left:none'>Passport</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Photograph</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Identification Card</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Invitation Letter from Indonesian company</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Travel Order issued by Korean Company</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6823517 style='height:15.0pt;border-top:none;
		  border-left:none'>Ticket</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl7923517 style='height:15.0pt'>&nbsp;</td>
		  <td class=xl8023517>&nbsp;</td>
		  <td class=xl8023517>&nbsp;</td>
		  <td class=xl8123517>&nbsp;</td>
		 </tr>
		 <tr height=40 style='mso-height-source:userset;height:30.0pt'>
		  <td rowspan=9 height=281 class=xl9223517 width=142 style='height:210.75pt;
		  width:107pt'>DIPLOMATIC/<span style='mso-spacerun:yes'>          
		  </span>OFFICIAL</td>
		  <td rowspan=9 class=xl9223517 width=187 style='width:140pt'>Diplomatic and
		  Official Visa</td>
		  <td rowspan=9 class=xl8323517>Free</td>
		  <td class=xl7823517 width=322 style='border-left:none;width:242pt'>For
		  Assignments in Indonesia: (requires approval from Indonesian Government)</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Passport</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Photograph</td>
		 </tr>
		 <tr height=60 style='height:45.0pt'>
		  <td height=60 class=xl7123517 width=322 style='height:45.0pt;border-top:none;
		  border-left:none;width:242pt'>Diplomatic Note/Verbal Note from respective
		  Governments or International Organization</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl7123517 width=322 style='height:15.0pt;border-top:none;
		  border-left:none;width:242pt'>&nbsp;</td>
		 </tr>
		 <tr height=21 style='height:15.75pt'>
		  <td height=21 class=xl7323517 style='height:15.75pt;border-top:none;
		  border-left:none'>For Visit:</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Passport</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Photograph</td>
		 </tr>
		 <tr height=60 style='height:45.0pt'>
		  <td height=60 class=xl7523517 width=322 style='height:45.0pt;border-top:none;
		  border-left:none;width:242pt'>Diplomatic Note/Verbal Note from respective
		  Governments or International Organization</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl7923517 style='height:15.0pt'>&nbsp;</td>
		  <td class=xl8023517>&nbsp;</td>
		  <td class=xl8023517>&nbsp;</td>
		  <td class=xl8123517>&nbsp;</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td rowspan=4 height=80 class=xl9223517 width=142 style='height:60.0pt;
		  width:107pt'>VISIT VISA BY APPROVAL</td>
		  <td rowspan=4 class=xl9523517 width=187 style='border-bottom:.5pt solid black;
		  border-top:none;width:140pt'>(For temporary employment, internship, family
		  visit)</td>
		  <td rowspan=4 class=xl8423517><span style='mso-spacerun:yes'> </span>$<span
		  style='mso-spacerun:yes'>    </span>45.00 </td>
		  <td class=xl6923517 style='border-left:none'>Passport</td>
		 </tr>
		 <tr height=20 style='mso-height-source:userset;height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Photograph</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Identification Card</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6823517 style='height:15.0pt;border-top:none;
		  border-left:none'>Indonesian Immigration Approval (Cable)</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl7923517 style='height:15.0pt'>&nbsp;</td>
		  <td class=xl8023517 style='border-top:none'>&nbsp;</td>
		  <td class=xl8023517>&nbsp;</td>
		  <td class=xl8123517>&nbsp;</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td rowspan=4 height=80 class=xl9223517 width=142 style='border-bottom:.5pt solid black;
		  height:60.0pt;width:107pt'>RE-ENTRY PERMIT</td>
		  <td rowspan=4 class=xl9223517 width=187 style='border-bottom:.5pt solid black;
		  width:140pt'>Re-entry Permit for Permanent Resident</td>
		  <td rowspan=4 class=xl8423517 style='border-bottom:.5pt solid black'><span
		  style='mso-spacerun:yes'> </span>$<span style='mso-spacerun:yes'>   
		  </span>22.00 </td>
		  <td class=xl6923517 style='border-left:none'>Passport</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Photograph</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Identification Card</td>
		 </tr>
		 <tr height=20 style='height:15.0pt'>
		  <td height=20 class=xl6623517 style='height:15.0pt;border-top:none;
		  border-left:none'>Indonesian Immigration Approval (Cable)</td>
		 </tr>
		 <![if supportMisalignedColumns]>
		 <tr height=0 style='display:none'>
		  <td width=142 style='width:107pt'></td>
		  <td width=187 style='width:140pt'></td>
		  <td width=80 style='width:60pt'></td>
		  <td width=322 style='width:242pt'></td>
		 </tr>
		 <![endif]>
		</table>
		
		</div>

</div>