<div class="body" style="padding-top: 20px;">
	<div style="text-align: center;">
		<%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
	</div>
	<div>
		<h2>LAPORAN & PERMINTAAN BANTUAN</h2>
		<p>Bagi warga negara Indonesia yang berada di Korea Selatan, apabila mengalami masalah/mengetahui ada permasalahan, 
		   silakan melaporkan kasusnya ke KBRI sehingga pihak KBRI dapat segera memberikan bantuan yang diperlukan.
		   Cara melaporkan kini sangat mudah karena bisa melalui sistem pelayanan elektronik KBRI.</p>
		<p>1. Isilah <b>formulir</b> permohonan bantuan yang disediakan melalui link di bawah ini.</p>
		<p>2. Untuk kemudahan pengenalan masalah dan sang korban, diharapkan dapat mengunggah <b>Foto atau Dokumen</b> petunjuk kasus.</p>
		
		<p>Selanjutnya, silahkan klik link formulir <span style="font-size: large;"> <%= link_to 'Laporan Permohonan Bantuan', lapormasalah_path %></span>.</p>
	</div>
</div>