<h3>User</h3>
<p>User: <%= @user.full_name.titleize %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Roles: <%= @user.roles.join(', ').capitalize if @user.roles %></p>
<p><br /><%= link_to "Back to Dashboard", users_url, :class => 'btn btn-mini btn-primary' %></p>
