<div class="body" style="padding-top: 20px;">
	<div style="text-align: center;">
		<%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
	</div>
	<div>
		<%= link_to "http://kbriseoul.kr/kbriseoul/index.php/id/2013-01-07-14-59-13/pelaynan-kekonsuleran", html_options = {:target => "_blank"} do %>
	  		<center><h4>Syarat Lapor Diri.</h4></center>
		<% end %>
	</div>
</div>