<div class="body" style="padding-top: 20px;">
	<div style="text-align: center;">
		<%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
	</div>
	<div>
		<h2>LAPORAN KEDATANGAN</h2>
		<p>Bagi warga negara Indonesia yang datang ke Korea Selatan, diharapkan agar melaporkan diri ke KBRI. 
		   Karena, apabila terjadi sesuatu hal, pihak KBRI dapat segera memberikan bantuan yang diperlukan.
		   Cara melaporkan diri anda kini sangat mudah karena bisa melalui sistem pelayanan elektronik KBRI.</p>
		<p>Untuk mengisi formulir, persiapkan dokumen-dokumen berikut ini dalam versi scan/photo yang <b>TERANG/JELAS/TIDAK KABUR </b>:</p>
		<p>1. <b>Paspor Halaman 1 (pertama) dan 2 (kedua)</b> digabung dengan <b>halaman yang terdapat stempel Visa atau stempel kedatangan</b> dari Imigrasi Korea.</p>
		<p>2. <b>Pas foto</b> digital anda. Dianjurkan berlatar belakang putih (lebih disukai) atau merah/biru.</p>
		<p>3. <b>Kartu identitas diri (Alien Card/ID Card)</b> yang dikeluarkan pihak imigrasi Korea.</p>
		<p>Selanjutnya, silahkan klik link formulir <span style="font-size: large;"> <%= link_to 'Pembuatan Lapor Diri', reports_path %></span>.</p>
	</div>
</div>