<div style="text-align: center; padding-top: 20px; position: relative;">
<%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
<h1>Welcome to electronic KBRI Seoul services (E-KBRI)</h1>
<hr />

<br />
<div>An initiative towards e-Government movement by</div>
<h2>The Embassy of Republic of Indonesia in Seoul.</h2>
<p>
	380 Yeouidebangro, Yeongdeungpo-gu, Seoul (in front of KBS Annex)
</p>
<p>
	<b>Telephone :</b> +82-2-7835675 - 7 or +82-2-7835371 - 2
	<b>| Fax : </b>+82-2-7804280
	<b>| Email :</b> seoul.kbri@kemlu.go.id
</p>
</div>
