<div class="body" style="padding-top: 20px;">
	<div style="text-align: center;">
		<%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
	</div>
	<div>
		<%= link_to "http://kbriseoul.kr/kbriseoul/index.php/en/2013-01-06-23-12-43/visa", html_options = {:target => "_blank"} do %>
	  		<center><h4>Syarat Visa.</h4></center>
		<% end %>
		<%= link_to "http://kbriseoul.kr/kbriseoul/index.php/en/2013-01-06-23-12-43/visa/9-english/public-services/53-visa-fee", html_options = {:target => "_blank"} do %>
	  		<center><h4>Biaya Visa.</h4></center>
		<% end %>
	</div>
</div>