				<fieldset class="reEntry specialFieldType no-show">
					<div class="row">
						<section class="col col-6">
							<label class="label">Full Name</label>
							<label class="input">
								<i class="icon-append icon-user"></i>
								<input type="text">
							</label>
						</section>
						
						<section class="col col-3">
						    <label class="label">Place of Birth</label>	
							<label class="input">
									<i class="icon-append icon-globe"></i>
							<input type="text" name="placeBirth" id="place">
							</label>
						</section>
						
						<section class="col col-3">
							<label class="label">Date of Birth</label>	
							<label class="input">
									<i class="icon-append icon-calendar"></i>
							<input type="text" name="dateBirth" id="dateBirth" class="datePick">
							</label>
						</section>
					</div>

					<div class="row">
						<section class="col col-6">
							<label class="label">Address of Applicants in Indonesia</label>
								<label class="textarea textarea-expandable">
								<i class="icon-append icon-road"></i>
								<textarea rows="4"></textarea>
							</label>
							<div class="note"><strong></strong></div>
						</section>

						<section class="col col-3">
							<label class="label">Phone No</label>	
							<label class="input">
									<i class="icon-append icon-phone"></i>
							<input type="text" name="" id="">
							</label>
						</section>
						
						<section class="col col-3">
						  <div class="inline-group">
						  <label class="label">Sex</label>
							<label class="radio"><input type="radio" name="radio"><i></i>Male</label>
							<label class="radio"><input type="radio" name="radio"><i></i>Female</label>
						  </div>
						</section>
					</div>
					
					<div class="row">
						<section class="col col-4">
							<label class="label">Nationality</label>
							<label class="input">
								<i class="icon-append icon-globe"></i>
								<input type="text">
							</label>
						</section>
						
						<section class="col col-4">
						  <label class="label">Passport No</label>
							<label class="input">
								<i class="icon-append icon-book"></i>
								<input type="text">
							</label>
						</section>
						
						<section class="col col-4">
							<label class="label">Place of Issue</label>
							<label class="input">
								<i class="icon-append icon-globe"></i>
								<input type="text">
							</label>
						</section>
				
					</div>

					<div class="row">
						<section class="col col-6">
							<label class="label">Date of Issueance</label>
							<label class="input">
								<i class="icon-append icon-calendar"></i>
							<input type="text" name="dateIssued" id="dateIssued" class="datePick">
							</label>
						</section>
						
						<section class="col col-6">
							<label class="label">Date of Expiry</label>
							<label class="input">
								<i class="icon-append icon-calendar"></i>
							<input type="text" name="dateIssued" id="dateIssued" class="datePick">
							</label>
						</section>
					</div>

				</fieldset>
				
				<fieldset class="reEntry specialFieldType no-show">
					<div class="row">
					  
					  <section class="col col-3">
					  	<label class="label">Occupation</label>
						<label class="input">
								<i class="icon-append icon-asterisk"></i>
								<input type="text">
						</label>
					  </section>
					  
					  <section class="col col-3">
					  	<label class="label">Reference/Sponsor in Indonesia</label>
						<label class="input">
								<i class="icon-append icon-user"></i>
								<input type="text">
						</label>
					  </section>
					  
					  <section class="col col-4">
					  	<label class="label">Address of Reference/Sponsor in Indonesia</label>
							<label class="textarea textarea-expandable">
								<i class="icon-append icon-road"></i>
								<textarea rows="4"></textarea>
						</label>
						<div class="note"><strong></strong></div>
					  </section>
					  
					  <section class="col col-2">
					  	<label class="label">Phone No in Indonesia</label>
						<label class="input">
								<i class="icon-append icon-phone"></i>
								<input type="text">
						</label>
					  </section>
					  
					</div>
					
					<div class="row">
					
						<section class="col col-3">
							<label class="label">Re-entry Permit Number (As in passport)</label>
							<label class="input">
								<i class="icon-append icon-phone"></i>
								<input type="text" name="permitIssuedNo" id="permitIssuedNo">
							</label>
						</section>
						
						<section class="col col-3">
							<label class="label">Permit issued at</label>
							<label class="input">
								<i class="icon-append icon-globe"></i>
								<input type="text" name="permitIssuedAt" id="permitIssuedAt">
							</label>
						</section>
						
						<section class="col col-3">
							<label class="label">Valid until</label>
							<label class="input">
								<i class="icon-append icon-calendar"></i>
							<input type="text" name="permitValidTo" id="permitValidTo" class="datePick">
							</label>
						</section>
						
						<section class="col col-3">
							<label class="label">Planned date for re-entry to Indonesia</label>
							<label class="input">
								<i class="icon-append icon-calendar"></i>
							<input type="text" name="plannedReentry" id="plannedReentry" class="datePick">
							</label>
						</section>
					</div>
					
				</fieldset>
				
				<fieldset>
					<div class="row">
					<section class="col col-8 reEntry specialFieldType no-show">
							<label class="label">Brief Reason of Application</label>
								<label class="textarea textarea-expandable">
								<i class="icon-append icon-question"></i>
								<textarea rows="4"></textarea>
							</label>
							<div class="note"><strong>Why </strong> do you extend your re-entry permit?</div>
					</section>
					
					<section class="col col-4 reEntry specialFieldType no-show">
							<label class="label">Picture Attachment</label>
							<label for="file" class="input input-file">
								<div class="button">
								  <input type="file" id="file" onchange="this.parentNode.nextSibling.value = this.value">Upload
								</div>
								<input type="text" readonly>
							</label>
					</section>
					</div>
				</fieldset>
				
				<fieldset class="reEntry specialFieldType no-show">
					<section><p style="text-align: right; font-weight: bold;">Seoul, <%= Date.current.strftime("%A, %v") %></p></section>
				</fieldset>
				
				<fieldset class="reEntry specialFieldType no-show">
					<section class="col col-9">
					I hereby declare that statements given above are true and I understand that even if granted a visa, 
					the admission at the airport fully remains the discretion of the immigration authorities in Indonesia.
					</section>
					
					<section class="col col-3">
					<pre>(Signature & Full Name)</pre>
					</section>
				</fieldset>