<!-- Red color scheme -->
			<form id="" action="/visa_processing" class="sky-form" method="post">
				<header>
				<% if action_name == "immigration" then %>
					Visa Application Form to Republic of Indonesia
				<% else %>
					Visa Application Form for Gaining Entry/Extension Re-Entry Permit to Republic of Indonesia
				<% end %>
				</header>
				<fieldset>
					<div class="row">
						<section class="col col-6">
							<label class="label">Purpose</label>
							<label class="select">
							<select id="applicationType" name="application_type">
								<option value="0">Application Type</option>
								<option value="3">New Visa Application</option>
								<option value="4">Extension of Re-Entry Permit</option>
							</select>
							<i></i>
							</label>
						</section>
						<section class="col col-6 newVisa specialFieldType no-show">
							<label class="label">Visa</label>
							<label class="select">
							<select id="categoryType" name="category_type">
								<option value="none">Category</option>
								<option value="transit">Transit Visa</option>
								<option value="visit">Visit Visa</option>
								<option value="limited-stay">Limited Stay Visa</option>
								<option value="diplomatic">Diplomatic Visa</option>
								<option value="official">Official Visa</option>
							</select>
							<i></i>
							</label>
						</section>
					</div>
				</fieldset>
				
				<fieldset class="newVisa specialFieldType no-show">
					<div class="row">
						<section class="col col-6">
							<label class="label">Full Name</label>
							<label class="input">
								<i class="icon-append icon-user"></i>
								<input type="text" name="full_name">
							</label>
						</section>	
									
						<section class="col col-3">
							<label class="label">Picture Attachment</label>
							<label for="file" class="input input-file">
								<div class="button">
								  <input type="file" id="file" name="picture_path" onchange="this.parentNode.nextSibling.value = this.value">Upload
								</div>
								<input type="text" readonly>
							</label>
						</section>
						
						<section class="col col-3">
						  <div class="inline-group">
						  <label class="label">Sex</label>
							<label class="radio"><input type="radio" name="sex" value="M"><i></i>Male</label>
							<label class="radio"><input type="radio" name="sex" value="F"><i></i>Female</label>
						  </div>
						</section>
					</div>

					<div class="row">
						<section class="col col-6">
							<label class="label">Place of Birth</label>	
							<label class="input">
									<i class="icon-append icon-globe"></i>
							<input type="text" name="placeBirth" id="place">
							</label>
						</section>

						<section class="col col-3">
							<label class="label">Date of Birth</label>	
							<label class="input">
									<i class="icon-append icon-calendar"></i>
							<input type="text" name="dateBirth" id="dateBirth" class="datePick">
							</label>
						</section>
						
						<section class="col col-3">
						  <div class="inline-group">
						  <label class="label">Marital Status</label>
							<label class="radio"><input type="radio" name="marital_status" value="M"><i></i>Married</label>
							<label class="radio"><input type="radio" name="marital_status" value="S"><i></i>Single</label>
							<label class="radio"><input type="radio" name="marital_status" value="W"><i></i>Widowed</label>
						  </div>
						</section>
					</div>
					
					<div class="row">
						<section class="col col-6">
							<label class="label">Nationality</label>
							<label class="input">
								<i class="icon-append icon-globe"></i>
								<input type="text" name="nationality">
							</label>
						</section>
						
						<section class="col col-6">
							<label class="label">Profession</label>
							<label class="select">
							<select name="profession">
								<option value="">Profession Type</option>
								<option value="professional">Professional</option>
								<option value="government">Government</option>
								<option value="businessman">Businessman</option>
								<option value="student">Student</option>
								<option value="housewife">Businessman</option>
								<option value="other">Others</option>
							</select>
							<i></i>
							</label>
						</section>
				
					</div>
					
					<div class="row">
						<section class="col col-4">
							<label class="label">Passport No</label>
							<label class="input">
								<i class="icon-append icon-book"></i>
								<input type="text" name="passport_no">
							</label>
						</section>
						
						<section class="col col-4">
							<label class="label">Place of Issue</label>
							<label class="input">
								<i class="icon-append icon-globe"></i>
								<input type="text" name="passport_issued">
							</label>
						</section>
						
						<section class="col col-4">
							<label class="label">Type of Passport</label>
							<label class="select">
							<select name="passport_type">
								<option value="">Type</option>
								<option value="1">Ordinary</option>
								<option value="2">Official</option>
								<option value="3">Government</option>
							</select>
							<i></i>
							</label>
						</section>
						
					</div>

					<div class="row">
					
						<section class="col col-6">
							<label class="label">Date of Issuance</label>
							<label class="input">
								<i class="icon-append icon-calendar"></i>
							<input type="text" name="passport_date_issued" id="dateIssued" class="datePick">
							</label>
						</section>
						
						<section class="col col-6">
							<label class="label">Date of Expiry</label>
							<label class="input">
								<i class="icon-append icon-calendar"></i>
							<input type="text" name="passport_date_expired" id="dateIssued" class="datePick">
							</label>
						</section>
						
					</div>

				</fieldset>
				
				<fieldset class="newVisa specialFieldType no-show">
					<div class="row">
					  <section class="col col-2">
						<label class="label">Type of Sponsor</label>
						<label class="select">
							<select id="" name="sponsor_type_kr">
								<option value="work">Individual</option>
								<option value="family">Government</option>
								<option value="social">International Institution</option>
								<option value="company">Company</option>
								<option value="ngo">NGO</option>
								<option value="other">Others</option>
							</select>
							<i></i>
					    </label>
					  </section>
					  
					  <section class="col col-4">
					  	<label class="label">Name of Reference in Korea</label>
						<label class="input">
								<i class="icon-append icon-user"></i>
								<input type="text" name="sponsor_name_kr">
						</label>
					  </section>
					  
					  <section class="col col-4">
					  	<label class="label">Reference's Address in Korea</label>
							<label class="textarea textarea-expandable">
							<i class="icon-append icon-road"></i>
							<textarea rows="5" name="sponsor_address_kr"></textarea>
						</label>
						<div class="note"><strong></strong></div>
					  </section>
					  <section class="col col-2">
					  	<label class="label">Phone No in Korea</label>
						<label class="input">
								<i class="icon-append icon-phone"></i>
								<input type="text" name="sponsor_phone_kr">
						</label>
					  </section>
					</div>
					
					<div class="row">
					  <section class="col col-2">
						<label class="label">Type of Sponsor</label>
						<label class="select">
							<select id="" name="sponsor_type_id">
								<option value="work">Individual</option>
								<option value="family">Government</option>
								<option value="social">International Institution</option>
								<option value="company">Company</option>
								<option value="ngo">NGO</option>
								<option value="other">Others</option>
							</select>
							<i></i>
					    </label>
					  </section>
					  
					  <section class="col col-4">
					  	<label class="label">Name of Reference in Indonesia</label>
						<label class="input">
								<i class="icon-append icon-user"></i>
								<input type="text" name="sponsor_name_id">
						</label>
					  </section>
					  
					  <section class="col col-4">
					  	<label class="label">Referece's Address in Indonesia</label>
							<label class="textarea textarea-expandable">
							<i class="icon-append icon-road"></i>
							<textarea rows="5" name="sponsor_address_id"></textarea>
						</label>
						<div class="note"><strong></strong></div>
					  </section>
					  
					  <section class="col col-2">
					  	<label class="label">Phone No in Indonesia</label>
						<label class="input">
								<i class="icon-append icon-phone"></i>
								<input type="text" name="sponsor_phone_id">
						</label>
					  </section>
					</div>
				</fieldset>
				
				<fieldset class="newVisa specialFieldType no-show">
					<div class="row">
						<section class="col col-3">
							<label class="label">Duration of Stays</label>	
							<label class="input">
								<i class="icon-append icon-calendar"></i>
								<input type="text" name="duration_stays_day" id="durationStaysDay">
							</label>
							<div class="note">In <strong>DAYS</strong></div>
						</section>
						
						<section class="col col-3">
							<label class="label">Duration of Stays</label>	
							<label class="input">
								<i class="icon-append icon-calendar"></i>
								<input type="text" name="duration_stays_month" id="durationStaysMonth">
							</label>
							<div class="note">In <strong>MONTHS</strong></div>
						</section>
						
						<section class="col col-3">
							<label class="label">Duration of Stays</label>	
							<label class="input">
								<i class="icon-append icon-calendar"></i>
								<input type="text" name="duration_stays_year" id="durationStaysYear">
							</label>
							<div class="note">In <strong>YEARS</strong></div>
						</section>

						<section class="col col-3">
							<label class="label">Visa Type</label>
							<label class="select">
							<select id="numEntry" name="num_entry">
								<option value="0">Type</option>
								<option value="1">Single Entry</option>
								<option value="2">Multiple Entry</option>
							</select>
							<i></i>
							</label>
							<div class="note">The decision is <strong>Subject</strong> to The Embassy of Indonesia.</div>
						</section>
					</div>
				</fieldset>
				
				<fieldset class="newVisa specialFieldType no-show">
				<div class="row">
					<section class="col col-6">
					<div class="inline-group">
					<label class="label">Other Information (Tick each item that applies)</label>
					<label class="checkbox"><input type="checkbox" name="checkbox1"><i></i>Have you ever been to Indonesia before?</label>
					<label class="checkbox"><input type="checkbox" name="checkbox2"><i></i>Have you ever been convicted in other country?</label>
					<label class="checkbox"><input type="checkbox" name="checkbox3"><i></i>Are you in posession of any other country?</label>
					<label class="checkbox"><input type="checkbox" name="checkbox4"><i></i>Do you have previous visa to enter Indonesia?</label>
					</div>
					</section>
					<section class="col col-6">
					<div class="inline-group">
					<label class="label">&nbsp;</label>
					<label class="checkbox"><input type="checkbox" name="checkbox5"><i></i>Has your visa application been refused before?</label>
					<label class="checkbox"><input type="checkbox" name="checkbox6"><i></i>Have you ever been deported from Indonesia before?</label>
					<label class="checkbox"><input type="checkbox" name="checkbox7"><i></i>Have you ever committed crime or any offense?</label>
					</div>
					</section>
				</div>
				</fieldset>
				
				<fieldset class="newVisa specialFieldType no-show">
					<section><p style="text-align: right; font-weight: bold;">Seoul, <%= Date.current.strftime("%A, %v") %></p></section>
				</fieldset>
				
				<fieldset id="transit" class="specialFieldCat no-show">
				<div class="row">
				  <section class="col col-3">
					<label class="label">Country of Destination</label>
					<label class="input">
						<i class="icon-append icon-globe"></i>
						<input type="text" name="tr_country_destination">
					</label>
				  </section>
				  
				  <section class="col col-2">
				    <label class="label">Flight/Vessel Name</label>
					<label class="input">
						<i class="icon-append icon-plane"></i>
						<input type="text" name="tr_flight_vessel">
					</label>
				  </section>
				  
				  <section class="col col-4">
					<label class="label">Airport/Seaport Destination</label>
					<label class="input">
						<i class="icon-append icon-anchor"></i>
						<input type="text" name="tr_air_sea_port">
					</label>
				  </section>
				  
				  <section class="col col-3">
					<label class="label">Date of Entry to Indonesia</label>
					<label class="input">
						<i class="icon-append icon-calendar"></i>
						<input type="text" name="tr_date_entry" id="dateEntry" class="datePick">
					</label>
				  </section>
				</div>  
				</fieldset>
				
				<fieldset id="limited-stay" class="specialFieldCat no-show">
			      <div class="row">
				  <section class="col col-3">
					<label class="label">Purpose of Limited Stay</label>
					<label class="select">
							<select id="" name="lim_s_purpose">
								<option value="work">Work</option>
								<option value="family">Joint Family</option>
								<option value="social">Social</option>
								<option value="other">Others</option>
							</select>
							<i></i>
					</label>
					<div class="note">Please bring supporting <strong>Documents</strong> (if any) during interview session.</div>
				  </section>
				  
				  <section class="col col-2">
				    <label class="label">Flight/Vessel Name</label>
					<label class="input">
						<i class="icon-append icon-plane"></i>
						<input type="text" name="lim_s_flight_vessel">
					</label>
				  </section>
				  
				  <section class="col col-4">
					<label class="label">Airport/Seaport Destination</label>
					<label class="input">
						<i class="icon-append icon-anchor"></i>
						<input type="text" name="lim_s_air_sea_port">
					</label>
				  </section>
				  
				  <section class="col col-3">
					<label class="label">Date of Entry to Indonesia</label>
					<label class="input">
						<i class="icon-append icon-calendar"></i>
						<input type="text" name="lim_s_date_entry" id="dateEntry" class="datePick">
					</label>
				  </section>
				</div>
				  
				</fieldset>
				
				<fieldset id="visit" class="specialFieldCat no-show">
				  <div class="row">
				  <section class="col col-3">
					<label class="label">Purpose of Visit</label>
					<label class="select">
							<select id="" name="v_purpose">
								<option value="tourism">Tourism</option>
								<option value="study">Study</option>
								<option value="convention">Convention</option>
								<option value="art">Arts</option>
								<option value="family-visit">Family Visit</option>
								<option value="commercial">Commercial</option>
								<option value="sports">Sports</option>
								<option value="other">Others</option>
							</select>
							<i></i>
					</label>
					<div class="note">Please bring supporting <strong>Documents</strong> (if any) during interview session.</div>
				  </section>
				  
				  <section class="col col-2">
				    <label class="label">Flight/Vessel Name</label>
					<label class="input">
						<i class="icon-append icon-plane"></i>
						<input type="text" name="v_flight_vessel">
					</label>
				  </section>
				  
				  <section class="col col-4">
					<label class="label">Airport/Seaport Destination</label>
					<label class="input">
						<i class="icon-append icon-anchor"></i>
						<input type="text" name="v_air_sea_port">
					</label>
				  </section>
				  
				  <section class="col col-3">
					<label class="label">Date of Entry to Indonesia</label>
					<label class="input">
						<i class="icon-append icon-calendar"></i>
						<input type="text" name="v_date_entry" id="dateEntry" class="datePick">
					</label>
				  </section>
				</div>
				  
				</fieldset>
				
				<fieldset id="diplomatic" class="specialFieldCat no-show">
				  <div class="row">
				  <section class="col col-3">
					<label class="label">Purpose of Visit</label>
					<label class="select">
							<select id="" name="dip_purpose">
								<option value="posting">Posting</option>
								<option value="training">Training</option>
								<option value="family">Joint Family</option>
								<option value="other">Others</option>
							</select>
							<i></i>
					</label>
				  </section>
				  
				  <section class="col col-2">
				    <label class="label">Flight/Vessel Name</label>
					<label class="input">
						<i class="icon-append icon-plane"></i>
						<input type="text" name="dip_flight_vessel">
					</label>
				  </section>
				  
				  <section class="col col-4">
					<label class="label">Airport/Seaport Destination</label>
					<label class="input">
						<i class="icon-append icon-anchor"></i>
						<input type="text" name="dip_air_sea_port">
					</label>
				  </section>
				  
				  <section class="col col-3">
					<label class="label">Date of Entry to Indonesia</label>
					<label class="input">
						<i class="icon-append icon-calendar"></i>
						<input type="text" name="dip_date_entry" id="dateEntry" class="datePick">
					</label>
				  </section>
				</div>
				
				</fieldset>
				
				<fieldset id="official" class="specialFieldCat no-show">
				  <div class="row">
				  <section class="col col-3">
					<label class="label">Purpose of Visit</label>
					<label class="select">
							<select id="" name="o_purpose">
								<option value="posting">Posting</option>
								<option value="training">Training</option>
								<option value="family">Joint Family</option>
								<option value="other">Others</option>
							</select>
							<i></i>
					</label>
				  </section>
				  
				  <section class="col col-2">
				    <label class="label">Flight/Vessel Name</label>
					<label class="input">
						<i class="icon-append icon-plane"></i>
						<input type="text" name="o_flight_vessel">
					</label>
				  </section>
				  
				  <section class="col col-4">
					<label class="label">Airport/Seaport Destination</label>
					<label class="input">
						<i class="icon-append icon-anchor"></i>
						<input type="text" name="o_air_sea_port">
					</label>
				  </section>
				  
				  <section class="col col-3">
					<label class="label">Date of Entry to Indonesia</label>
					<label class="input">
						<i class="icon-append icon-calendar"></i>
						<input type="text" name="o_date_entry" id="dateEntry" class="datePick">
					</label>
				  </section>
				</div>
								  
				</fieldset>
				
				<fieldset class="newVisa specialFieldType no-show">
					<section class="col col-9">
					I hereby declare that statements given above are true and I understand that even if granted a visa, 
					the admission at the airport fully remains the discretion of the immigration authorities in Indonesia.
					</section>
					
					<section class="col col-3">
					<pre>(Signature & Full Name)</pre>
					</section>				
				</fieldset>
				
				<%= render 'forms/visareentry' %>
				<footer>
					<button type="submit" class="button">Submit</button>
					<button type="button" class="button button-secondary" onclick="window.history.back();">Back</button>
				</footer>
			</form>
<!--/ Red color scheme -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script type="text/javascript">
	$(function()
		{
				$( ".no-show" ).css("display", "none");
									//console.log();
									
				// Adjusting suitable form
				$( "#applicationType" ).change(function() {
  					var str = "";
    				str = $( "#applicationType option:selected" ).val();
    				if(str == 3){
    					var aClass = ".newVisa";
    				}else if(str == 4){
    					var aClass = ".reEntry";
    				}
    				$( ".specialFieldType" ).addClass("no-show").css("display", "none");
					$( aClass ).removeClass("no-show").css("display","block");
				});
				
				$( "#categoryType" ).change(function() {
  					var str = "";
    				str = $( "#categoryType option:selected" ).val();
    				var id = "#"+str;
    				$( ".specialFieldCat" ).addClass("no-show").css("display", "none");
					if(id != "none") {
						$( id ).removeClass("no-show").css("display","block");
					}
				});
				
				// Regular datepicker
				$( '.datePick' ).datepicker({
					dateFormat: 'dd.mm.yy',
					prevText: '<i class="icon-chevron-left"></i>',
					nextText: '<i class="icon-chevron-right"></i>'
				});
								
								//console.log();
				
		});			
</script>