<hr />
<p>
	<center>
		The Embassy or Republic of Indonesia takes very serious concern over your sensitive and confidential data and strives for ensuring your trust for your privacy in high esteem. 
		Your data have been secured through enterprise grade encryption algorithm & encrypted communication media during every data transmission from you to The embassy's servers. 
		Your data is protected with
		<table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications.">
			<tr>
			<td width="135" align="center" valign="top"><script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name=www.id-embassy.kr&amp;size=M&amp;lang=en"></script><br />
				<a href="http://www.geotrust.com/ssl/" target="_blank"  style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;">
				</a>
			</td>
			</tr>
		</table>
	</center>
</p>
<p>		 
	To ensure best experience using this site, you are strongly advised to use modern & latest browser like Google&copy; Chrome or Mozilla&copy; Firefox or Opera&copy; browser.<br />
	Google&copy;, Mozilla&copy;, and Opera&copy; are trademarks owned with all rights duly reserved to their respective owners.<hr />
	&copy; 2013-2014 All Rights Reserved for KBRI Seoul.<br />
</p>