<hr />
<p>		 
	To ensure best experience using this site, you are strongly advised to use modern & latest browser like Google&copy; Chrome or Mozilla&copy; Firefox or Opera&copy; browser.<br />
	Google&copy;, Mozilla&copy;, and Opera&copy; are trademarks owned with all rights duly reserved to their respective owners.<hr />
	&copy; 2013-2014 All Rights Reserved for KBRI Seoul.<br />
</p>