<hr />
<p>	
	E-KBRI 2014 adalah layanan elektronik dari KBRI Seoul. 
	Untuk pertanyaan, layanan, dan aduan silakan hubungi 
	(<a href="mailto:admin@kbri.seoul.kr">Tim IT KBRI Seoul</a>) 
	<br />&copy; 2013-2014 All Rights Reserved for KBRI Seoul.<br />
</p>