<hr />
<p>
	The Embassy of Republic of Indonesia (KBRI) in Seoul takes <b>very serious concern</b> over your sensitive and confidential data and strives for earning your trust of your privacy in high esteem to us. 
	Your data have been secured everywhere deemed necessary through an enterprise grade encryption algorithm & encrypted communication media during every data transmission from you to The Embassy's servers.
	<br /> E-KBRI has been rated as <img src="/images/qualys-ssl-labs.gif" /> & secured by <img src="/images/geotrust-ssl.gif" />
	<% if Rails.env.production? %>
	 <script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name=www.id-embassy.kr&amp;size=M&amp;lang=en"></script>
	 <a href="http://www.geotrust.com/ssl/" target="_blank"  style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;">
	 </a>
	<% end %>
</p>
<p>		 
	To ensure best experience using this site, you are strongly advised to use modern & latest browser like Google&copy; Chrome or Mozilla&copy; Firefox or Opera&copy; browser.<br />
	Google&copy;, Mozilla&copy;, and Opera&copy; are trademarks owned with all rights duly reserved to their respective owners.<hr />
	&copy; 2013-2014 All Rights Reserved for KBRI Seoul.<br />
</p>