<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Konsep E-KBRI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0 " />
	<link rel="stylesheet" media="all" href="/pitch/css/all.css" type="text/css"/>
	<script type="text/javascript" src="/pitch/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="/pitch/js/jquery.main.js"></script>
	<!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen"/><![endif]-->
</head>
<body>
	<div id="wrapper">
		<div class="nav-holder">
			<ul id="nav">
				<li class="active"><a href="#slide1"><span>Overview</span></a></li>
				<li><a href="#slide2"><span>What We Do</span></a></li>
				<li><a href="#slide3"><span>Team</span></a></li>
				<li><a href="#slide4"><span>Market</span></a></li>
				<li><a href="#slide5"><span>Problems &amp;<br /> Solutions</span></a></li>
				<li><a href="#slide6"><span>Traction</span></a></li>
				<li><a href="#slide7"><span>Product</span></a></li>
				<li><a href="#slide8"><span>Business <br />Model</span></a></li>
				<li><a href="#slide9"><span>Press</span></a></li>
				<li><a href="#slide10"><span>Contact</span></a></li>
			</ul>
			<div class="slider-holder">
				<div class="slider-block">
					<div class="slider"><div class="pin"></div></div>
				</div>
			</div>
		</div>
		<div id="main">
			<div id="slide1" class="slide">
				<div class="slide-holder">
					<h1 class="logo"><a href="#"><img src="/pitch/images/logo.png" width="324" height="66" alt="image description" /></a></h1>
					<div class="head-text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<img src="/pitch/images/img-01.png" width="456" height="420" alt="image description" />
					<div class="btn-holder">
						<a href="#slide2" class="btn-start"><span>start</span> </a>
					</div>
				</div>
			</div>
			<div  id="slide2" class="slide">
				<div class="slide-holder">
					<div class="slide-frame">
						<h2>What we do</h2>
						<p>Aliquam rutrum elementum nisl nec tempus.<br /> Cras dolor quam, porttitor sit amet lobortis id, tempus non tortor. </p>
					</div>
				</div>
			</div>
			<div id="slide3" class="slide">
				<div class="slide-holder">
					<h2>our Team</h2>
					<div class="head-text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<div class="column">
						<div class="col">
							<img src="/pitch/images/img-02.png" width="210" height="210" alt="image description" />
							<div class="text">
								<div class="head">
									<h3>Lorem Ipsum</h3>
									<span class="position">Founder</span>
								</div>
								<p>Sed in neque mi. Suspendisse non velit risus. Nunc id dolor nisl, in interdum massa. Integer quis volutpat augue. Donec eu lacus felis. Pellentesque et ante mauris, id dapibus eros.</p>
							</div>
						</div>
						<div class="col">
							<img src="/pitch/images/img-03.png" width="210" height="210" alt="image description" />
							<div class="text">
								<div class="head">
									<h3>Aenean Tistique</h3>
									<span class="position">Designer</span>
								</div>
								<p>Proin et erat ac leo consequat posuere. Ut vel augue vel nulla pulvinar bibendum non id est. Vestibulum faucibus lectus quis sapien euismod at aliquet risus vulputate.</p>
							</div>
						</div>
						<div class="col">
							<img src="/pitch/images/img-04.png" width="210" height="210" alt="image description" />
							<div class="text">
								<div class="head">
									<h3>Vestibul Justo</h3>
									<span class="position">Developer</span>
								</div>
								<p>Pellentesque nisi orci, porta eget consequat at, faucibus a sem. Sed turpis purus, pulvinar vitae mollis eu, scelerisque at lacus. Morbi eleifend facilisis sapien.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="slide4" class="slide">
				<div class="slide-holder">
					<h2>Market</h2>
					<div class="head-text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<img src="/pitch/images/diagram-01.png" width="839" height="314" alt="image description" />
				</div>
			</div>
			<div id="slide5" class="slide">
				<div class="slide-holder">
					<h2><span>Problems</span> <span class="amp">&amp;</span> <span>Solutions</span></h2>
					<div class="box problems">
						<div class="title">
							<h3>Problems</h3>
						</div>
						<dl>
							<dt>Sed in neque mi. Suspendisse non velit risus.</dt>
							<dd>Cras at arcu erat. Duis ut metus nulla, ut consequat felis.</dd>
							<dt>Quisque pulvinar nulla non</dt>
							<dd>Vivamus ac sapien in ipsum euismod pellentesque.</dd>
							<dt>Nunc vitae nunc vel massa</dt>
							<dd>Mauris dolor ipsum, bibendum ut feugiat nec, aliquam fringilla turpis.</dd>
						</dl>
					</div>
					<div class="box solutions">
						<div class="title">
							<h3>Solutions</h3>
						</div>
						<img src="/pitch/images/img-05.png" width="273" height="334" alt="image description" />
						<ul class="list">
							<li>
								<h4>Vivamus ac sapien in</h4>
								<p>Pellentesque nisi orci, porta eget consequat at.</p>
							</li>
							<li>
								<h4>Proin non mauris torto</h4>
								<p>Suspendisse nec blandit sem. Curabitur sit amet mi quis.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="slide6" class="slide">
				<div class="slide-holder">
					<h2>Traction</h2>
					<div class="head-text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<img src="/pitch/images/diagram-02.png" width="734" height="389" alt="image description" />
					<div class="statistic-block">
						<div class="block visitors">
							<span>2,000,000</span>
							<span>Visitors</span>
						</div>
						<div class="block time">
							<span>5.8 min</span>
							<span>Time on site</span>
						</div>
						<div class="block pageviews">
							<span>30,000,000</span>
							<span>Pageviews</span>
						</div>
					</div>
				</div>
			</div>
			<div id="slide7" class="slide">
				<div class="slide-holder">
					<h2>Product</h2>
					<div class="head-text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<div class="product-block">
						<img src="/pitch/images/img-06.png" width="456" height="420" alt="image description" />
						<ul class="list">
							<li>
								<h4>Vivamus ac sapien in</h4>
								<p>Pellentesque nisi orci, porta eget.</p>
							</li>
							<li>
								<h4>Proin non mauris torto</h4>
								<p>Suspendisse nec blandit sem urabitur sit.</p>
							</li>
							<li>
								<h4>Vivamus ac sapien in</h4>
								<p>Pellentesque nisi orci, porta eget.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="slide8" class="slide">
				<div class="slide-holder">
					<h2>Business Model</h2>
					<div class="head-text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<ul class="model-block">
						<li>
							<img src="/pitch/images/img-07.png" width="128" height="118" alt="image description" class="alignright" />
							<h3>Vivamus ac sapien in</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mi turpis, scelerisque eget lobortis nec.</p>
						</li>
						<li>
							<img src="/pitch/images/img-08.png" width="128" height="118" alt="image description" class="alignleft" />
							<h3>Proin et neque lectus</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mi turpis, scelerisque eget lobortis nec.</p>
						</li>
						<li>
							<img src="/pitch/images/img-09.png" width="128" height="118" alt="image description" class="alignright" />
							<h3>Nullam convallis pulvinar</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mi turpis, scelerisque eget lobortis nec.</p>
						</li>
					</ul>
				</div>
			</div>
			<div id="slide9" class="slide">
				<div class="slide-holder">
					<h2>Partners</h2>
					<div class="head-text">
						<p>Here are some of the brands that are using us:</p>
					</div>
					<ul class="partner-list">
						<li><a href="#"><img src="/pitch/images/partner-logo-01.gif" width="321" height="54" alt="image description" /></a></li>
						<li><a href="#"><img src="/pitch/images/partner-logo-02.gif" width="143" height="54" alt="image description" /></a></li>
						<li><a href="#"><img src="/pitch/images/partner-logo-03.gif" width="186" height="54" alt="image description" /></a></li>
						<li><a href="#"><img src="/pitch/images/partner-logo-04.gif" width="150" height="56" alt="image description" /></a></li>
						<li><a href="#"><img src="/pitch/images/partner-logo-05.gif" width="212" height="56" alt="image description" /></a></li>
						<li><a href="#"><img src="/pitch/images/partner-logo-06.gif" width="100" height="56" alt="image description" /></a></li>
						<li><a href="#"><img src="/pitch/images/partner-logo-07.gif" width="81" height="56" alt="image description" /></a></li>
						<li><a href="#"><img src="/pitch/images/partner-logo-08.gif" width="126" height="56" alt="image description" /></a></li>
					</ul>
				</div>
			</div>
			<div id="slide10" class="slide">
				<div class="slide-holder">
					<h2>Contact</h2>
					<div class="head-text">
						<p>Nunc placerat, urna ut venenatis aliquet, ante augue pretium au</p>
					</div>
					<div class="button-holder">
						<a href="#" class="button"><span>Button</span></a>
					</div>
					<div class="button-holder">
						<a href="#" class="button twitter"><span>Twitter</span></a>
					</div>
					<div class="button-holder">
						<a href="#" class="button facebook"><span>Facebook</span></a>
					</div>
					<div class="button-holder">
						<a href="#" class="button angelist"><span>Angelist</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>